################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/01_Global/emer
/01_Global/exanic
build/*
!build/json
build/json/*
!build/json/figma
build/json/figma/*
!build/json/figma/tokens.json
!build/json/figma/tokens2.json